<configuration>
    <system.webServer>
        <handlers>
            <!-- Remplacez "dist/app.js" par le chemin vers votre fichier JavaScript compilé -->
            <add name="iisnode" path="dist/app.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="DynamicContent">
                    <match url=".*" />
                    <!-- Remplacez "dist/app.js" par le chemin vers votre fichier JavaScript compilé -->
                    <action type="Rewrite" url="dist/app.js" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://192.168.7.137:80/(.*)" />
                    <action type="Rewrite" value="http{R:1}://www.leads-glag.com/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <iisnode loggingEnabled="true" />
    </system.webServer>
    <appSettings>
        <add key="MONDAY_ACCESS_TOKEN" value="eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjM3MTkxNjY1MSwiYWFpIjoxMSwidWlkIjo0MjcyNjAyMiwiaWFkIjoiMjAyNC0wNi0xM1QxNzo1MDowMC4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTEwMDIyMzEsInJnbiI6InVzZTEifQ.PqAwYgelAuvPDXB50MJcyXGnqQXsawKQAZu31v3mV9Q" />
  </appSettings>
</configuration>
